@model UserModel
@{
    ViewData["Title"] = "User";
    Layout = "_LayoutAdmin";
}
    
<div class="row">
    <div class="col-xs-7 col-sm-6 col-md-5">
		<h3>Create User</h3>
        @using (Html.BeginForm("CreateUser", "User"))
        {
        <div class="form-group">
            @Html.LabelFor(model => model.CreateModel.Username, "Username", new { @class = "control-label col-md-0" })
            <div class="col-md-offset-0">
                @Html.EditorFor(model => model.CreateModel.Username)
            </div>
        </div>
		<div class="form-group">
            @Html.LabelFor(model => model.CreateModel.Name, "Name", new { @class = "control-label col-md-0" })
            <div class="col-md-offset-0">
                @Html.EditorFor(model => model.CreateModel.Name)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CreateModel.Password, "Password", new { @class = "control-label col-md-0" })
            <div class="col-md-offset-0">
                @Html.PasswordFor(model => model.CreateModel.Password)
            </div>
        </div>
		<div class="form-group">
            @Html.LabelFor(model => model.CreateModel.Admin, "Admin", new { @class = "control-label col-md-0" })
            <div class="col-md-offset-0">
                @Html.EditorFor(model => model.CreateModel.Admin)
            </div>
        </div>
        <button class="btn btn-success" id="btnCreate">Create User <i class="fa fa-plus"></i></button>
        }
		@if(@Model != null && @Model.CreateMessage != null) {
            <p>@Model.CreateMessage</p>
        }
    </div>
	<div class="col-xs-7 col-sm-6 col-md-5">
		<h3>Delete User</h3>
        @using (Html.BeginForm("DeleteUser", "User"))
        {
        <div class="form-group">
            @Html.LabelFor(model => model.DeleteModel.Username, "Username", new { @class = "control-label col-md-0" })
            <div class="col-md-offset-0">
                @Html.EditorFor(model => model.DeleteModel.Username)
            </div>
        </div>
        <button id="btnDelete" class="btn btn-danger">Delete User <i class="fa fa-trash"></i></button>
        }
		@if(@Model != null && @Model.DeleteMessage != null) {
            <p>@Model.DeleteMessage</p>
		}
        <h3>Change Password</h3>
        @using (Html.BeginForm("ChangePassword", "User"))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.ChangePasswordModel.Username, "Username", new { @class = "control-label col-md-0"})
                <div class="col-md-offset-0">
                    @Html.EditorFor(model => model.ChangePasswordModel.Username)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ChangePasswordModel.Password, "Password", new { @class = "control-label col-md-0" })
                <div class="col-md-offset-0">
                    @Html.PasswordFor(model => model.ChangePasswordModel.Password)
                </div>
            </div>
            <button id="btnChangePassword" class="btn btn-info"> Change Password</button>
        }
        @if(Model != null && @Model.ChangePasswordMessage != null){
            <p>@Model.ChangePasswordMessage</p>
        }
    </div>
</div>

