@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">
    @using (Html.BeginForm("LoginAction", "User"))
    {
	<div class="form-group">
		@Html.LabelFor(model => model.Username, "Username", new { @class = "control-label col-md-0" })
		<div class="col-md-offset-0">
			@Html.EditorFor(model => model.Username)
		</div>
	</div>
	<div class="form-group">
		@Html.LabelFor(model => model.Password, "Password", new { @class = "control-label col-md-0" })
		<div class="col-md-offset-0">
			@Html.PasswordFor(model => model.Password)
		</div>
	</div> 
	<input type="submit" value="Login" id="btnLogin" />
	} 
</div>

